
body {
  background-color: greenyellow;
  background-image: url(../images/hand&plant.jpeg);
  background-position: center;
  background-size: cover;
}

body span {
  background-image: url("../images/loader.png");
}